version: '3.3'

networks:
  proxy:
    external:
      name: proxy

services:
  wordpress:
    #build: .
    image: upassist/wordpress
    external_links:
      - mariadb:db
    volumes:
      - ./:/var/www/html:delegated
    networks:
      - proxy
#    labels:
#      - "traefik.backend=wordpress"
#      - "traefik.frontend.rule=Host:wordpress.localhost"
#      - "traefik.frontend.entryPoints=http,https"
#      - "traefik.port=80"
#      - "traefik.docker.network=proxy"
